@import 'variables';
@import 'mixins';
*{
	margin: 0;
	padding: 0;
}
.clearFix{
	clear: both;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.wrapper{
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
.wrapper--main{
		background: none;
	}
.container{
	width: 320px;
	padding-bottom: 139px;
	padding-top: 19px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
	background: transparent;
}
/*HEADER*/
.sign{
	margin: 0px 0 115px 0;
	padding-right:27px;
}
.sign{
	a{
	display: inline-block;
	padding: 7px 19px;
	border-radius: 30px;
	border: 2px solid transparent;
	@include fontMontserrat(#fff);
	font-size: 14px;
	}
}
.sign{
	a:hover{	
		border: 2px solid #FFF;
		box-sizing: border-box;
		transition: 0.8s;
	}
}
header{
	h3{
		margin-bottom: 28px;
		@include fontMontserrat(#fff);
	}
	h1{
		margin-bottom: 10px;
		@include fontMontserrat(#fff);
	}
	p{
		margin-bottom: 40px;
		@include fontRoboto(#fff);	
	}
	a{
		display: inline-block;
		padding: 11px 52px;
		border-radius: 30px;
	}
	.headerFind{
		background-color: $backroundColorRed;
		@include fontMontserrat(#fff);
	}
}	
/*MAIN*/
.container--main{
	margin-top: 33px;
	padding: 0px 10px 0 10px;

	h2{
		
		@include fontMontserrat(#333);
		font-size: 22px;
		font-weight: bold;
	}
	.bx-wrapper{
		margin: 0 auto 11px;
		.bx-viewport{
			height: 240px !important;
			left: -2px;
		}
		img{
			height: 100%;
		}
	} 


}
.slider{
	height: 241px;
	border-radius: 5px;
	background: #778899;
	margin-bottom: 9px;
}
#slider-text{
		position: absolute;
		height: 400px;
		width: 100%;
		margin-top: 0px;
		box-shadow: inset 0px -7px 210px black;
		border-radius: 5px;
    	div{
    		width: 70px;	
    		height: 20px;
    		background-color: $backroundColorRed;
			border-radius: 10px;
			@include fontMontserrat(#fff);
			font-size: 12px;
			line-height: 1.9em;
			margin-top: 45px;
    		margin-left: 21px;
    	}
    	h3{
    		@include fontMontserrat(#fff);
			font-size: 24px;
			font-weight: bold;
			margin-top: 60px;
    		text-align: left;
    		margin-left: 10px;
    	}
    	p{
			@include fontRoboto(#cbcbcb);	
			font-size: 14px;
			padding: 0 18px;
    	}
	}
.container--main{
	h2{
		margin-bottom: 14px;
	}
}
.container--blog{
	padding: 24px 0 10px 0;
	h2{
		letter-spacing: 1px;
	}
}
.blog{
	position: relative;
	margin-top: 10px;
	padding-top: 2px;
	height: 220px;
	text-align: center;
}
.blog__item1{
	.blog-icon{
		background-position: -4px -4px;
	}
	.face{
		background-image: url(../img/face1.jpg);
	}
}
.blog__item2{
	height: 247px;
	.blog-icon{
		background-position: -244px -4px;
	}
	.face{
		background-image: url(../img/face2.jpg);
	}
}
.blog__item3{
	.blog-icon{
		background-position: -484px -4px;
	}
	.face{
		background-image: url(../img/face3.jpg);
	}
}
.blog__item4{
	.blog-icon{
		background-position: 36px -4px;
	}
	.face{
		background-image: url(../img/face4.jpg);
	}
}
.face{
	display: inline-block;
	border-radius: 50%;
	height: 120px;
	width: 120px;
}
.blog-icon{
	position: absolute;
	width: 32px;
	height: 32px;
	top: 87px;
	left: 60%;
	border: 3px solid #fff;
	border-radius: 50%;
	background: url(../img/blog-icon.png);
}
.name{
	font-weight: bold;
	margin: 13px 0; 
}
.find-partners{
	display: inline-block;
	padding: 9px 81px;
	border-radius: 30px;
	border: 2px solid $ColorRed;
	@include fontMontserrat($ColorRed);
	font-size: 14px;
	font-weight: bold;
}
.container--blog{
	a{
		margin-top: 7px;		
	}
	h2{
		@include fontMontserrat(#333);

	}
}
.container--bar{
	padding: 23px 10px 40px 10px;
}

.bar{
	background: #B8860B;
	border-radius: 5px;
	height: 121px;
	margin-bottom: 10px;
}
.container--bar{
	p{	
		@include fontRoboto(#333);
		font-size: 18px;
		margin-top: 7px;
		margin-bottom: 16px;
	}
	h2{
		@include fontMontserrat(#333);
	}
	.item-text{
		position: absolute;
		top: 80px;
    	left: 92px;
    	color: #FFF;
    	width: 200px;
    	top: 50%;
    	left: 50%;
    	margin-left: -100px;
	}
}
#find-picture{
	height: 36px;
	width: 251px;
	border-radius: 5px;
	border: 1px solid $ColorRed;
	padding: 0 15px;
}
input[type="submit"]{
	display: inline-block;
	margin-top: 11px;
	padding: 13px 91px;
	border-radius: 30px;
	background-color: $backroundColorRed;
	border: none;
	@include fontMontserrat(#fff);
	font-size: 14px;
	font-weight: bold;
}
#container{
	margin-top: 10px;
	margin-bottom: 28px;
	width: 320px;

	.item{
		height: 120px; 
		float: left;
		box-sizing: border-box;
		width: 300px;
		margin-bottom: 10px;
		border-radius: 5px;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
		}
	}
	
}
/*FOOTER*/
.wrapper--footer{
	padding-top: 12px;
	padding-bottom: 10px;
	border-top: 3px solid $ColorRed;
	background: none;
}
.container--footer{
	h4{
		margin-top: -14px;
		@include fontMontserrat($ColorRed);
		font-size: 16px;
		font-weight: bold;
	}
	.company{
		margin-top: 10px;
		@include fontMontserrat(#333);
		font-size: 14px;
		font-weight: bold;
	}
	.partners{
		margin-top: 24px;
		margin-bottom: 16px;
		@include fontMontserrat(#333);
		font-size: 14px;
		font-weight: bold;
	}
}	
.footer-menu{
	list-style: none;
	text-align: center;
	margin-bottom: -15px;
}
.footer-menu{
	li{	
		display: inline-block;
		margin-right: 3px;
		margin-top: 5px;
		margin-bottom:5px;
		@include fontRoboto(#656565);
		font-size: 14px;
	}
}
.container--footer{
	span{
		font-size: 11px;
	}
}
.footer-logo{
	display: inline-block;
	width: 110px;
    height: 42px;;
	background-image: url(../img/logo.png);
}
@import 'styleTablet';
@import 'styleDesktop';
